html ,body{
  height:100%;
  widows:100%;
     
}
.navbar{
  padding:16px; 
}
.navbar-nav li{
  padding-right:20px; 

}
.nav-link{
  font-size:1.1em !important; 
}
.navbar-brand img{
  height:85px;
  width:80px;  
  margin-left:-40px;  
}
.navbar{
  background-color: #736868;
  height:85px;
  width:100%;  
}
.nav-link{
  color:black;
  transition:0.8s;  
}
.nav-link:hover{
  color:#E22424; 
}
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 3px;
    margin-bottom: 10px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    flex-direction: right;
  }
  
  input[type=submit]:hover {
    background-color: #a07545;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 20px;
    background-color:white;
    padding: 10px;
    color:#af6b58;
    font-weight: 500;

  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 6px;
    display:flex;
    color:#af6b58;
  }
  /*style rectangle part of section*/
  .rectangle {
    position: absolute;
    width: 482.34px;
    height: 650px;
    left: 450px;
    top: 200px;
    color:white;
    text-align:center;
    
    background: #62B744;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
  }  
  .arc{ height: 100px;
    width: 100px;
    background-color:#af6b58;
    border-radius: 50%;
  right:0px;
    padding-right:0 ;
    margin-bottom:3px;
    position:absolute;
    top:550px;
  }
  .contacts{
    text-align:left;

  }
  .contacts>ul{
    text-decoration:none;
    list-style-type:none;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*social media icons*/
  .fa {
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 100%;
    bottom: 0px;

  }
  .fa>ol{
 
    list-style-type:none;
    display:inline block;
    display:flex;
    flex-direction:row;
    padding-block: 20px;
    padding:5px;
    margin:20px;
    right:150px;
    padding-right:0 ;
    margin-bottom:3px;
    position:absolute;
    top:550px;

  }
  .fa>li{
    display:inline block;
    display:flex;
    flex-direction:row;

}
  .fa-instagram {
    background: #125688;
    color: white;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:#3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color:white;

}

footer{
  margin:0;
  padding:0;   
}
section{
  width:100%;
  height:350px;   
}
.wave{
  position:relative;
  background:linear-gradient(90deg, #4B4949, #B3B1B1); 
    
}
.wave:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;  
  height:300px;
  background:url(wave.png);
  background-size:cover;
  background-repeat:no-repeat;
  z-index:3; 

      
}
.wave span{
  color:black;
  margin-top:140px;
  top:5;   
}
.wave ul{
  color:red;
  margin-top:140px;
  float:left;  
}
.wave button{
    color:red;
  margin-top:300px;
  float:right;  
}
.massai img{
  margin-bottom:-184px;
  z-index:10;
  position:relative;  
}
footer{
  margin-top:-200px; 
}
html{
  scroll-behavior: smooth;
}


